{% import 'components/_generic_attributes.j2' as attrs %}
{% set additional_class = _component_context.class | default('') %}
{% set children = _component_context.content | default('') %}

{% set css_classes = [] %}
{% if additional_class %}{% set css_classes = css_classes + [additional_class] %}{% endif %}

<tbody{% if css_classes %} class="{{ css_classes | join(' ') }}"{% endif %}
      data-roos-component="table-body"
      {{ attrs.render_extra_attributes(_component_context) }}>
    {{ children | safe }}
</tbody>
