{% import 'components/_attribute_mixin.j2' as attributes %}
{% import 'components/_generic_attributes.j2' as attrs %}

{% set content = _component_context.children | default(_component_context.content) | default('') %}
{% set css_classes = ['rvo-table-body'] %}
{% set utility_classes = attributes.render_utility_classes(_component_context) %}
{% if utility_classes %}
    {% set css_classes = css_classes + utility_classes.split() %}
{% endif %}

<tbody class="{{ css_classes | join(' ') }}" data-roos-component="tbody" {{ attrs.render_extra_attributes(_component_context) }}>
    {{ content | safe }}
</tbody>
